@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <section class="text-primary">
        <h2 class="display-5">
            <i class="fa-solid fa-helmet-safety"></i>ArguzCore
        </h2>
        <p>Sistema de gestión centralizado</p>
    </section>
</div>